.trip {
  cursor: pointer;
  color: #0088cc;
}

.trip:hover {
  text-decoration: underline;
}

body{
  padding:20px;
  background-color:black;
  background-image: url('../img/background.jpg');
  /*background-repeat: no-repeat;*/
  background-size: contain;

  color: white;
}

/*.jumbotron{
   background-color:rgba(255,255,255,0.6);
   text-align: center;
}*/